p{
    margin: 0 0 0 0;
}

#plus-icon{
    margin: 10px 0px 0px 70%;
}
#plus-icon:hover{
    fill:gray;
    cursor: pointer;
}
.photoPreview{
    height: 150px;
    width: 150px;
}
.urlArea{
    display: flex;
    justify-content: space-around;
}
.uploadType{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.form-group{
    width: 100%;
}
#discriptionArea{
    width: 100% !important;
}
.name{
    display: flex;
    align-items: center;
}
.cost{
    display: flex;
    align-items: center;
}
.form-item{
    margin-top: 20px;
}
.input{
    margin-left: 10px;
    height: calc(1.5em + .75rem );
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
#urlInput{
    width: 258px;
    height: calc(1.5em + .75rem );
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

@media screen and (max-width:472px){
    .urlArea{
        display: flex;
        flex-direction: column;
    }
    .form-item{
        display: flex;
        flex-direction: column;
    }
    input{
        width: 120px;
    }
}