.nav-link{
    color: white !important;
}
.nav-link:hover{
    color:gray !important
}
.form-control{
    min-width: 100px;
    width: 300px !important;
    transition: width .5s !important;
}
.form-control:focus{
    width: 600px !important;
}
.mr-auto{
    margin-right: 5px !important;
}
#cardLink{
    color:white
}
#cardLink:hover{
    color:gray;
    text-decoration: none;
}
.tip{
    width: 600px;
    position: absolute;
    z-index: 2;
    background: #f7f7f7;
    border: 1px outset#7097c1;
    border-radius: 7px;
}
.toolTipItem{
    font-weight: 500;
}
.item{
  margin: 5px 0 0 0;
  padding-left: 5px;
}
.item:hover{
    background: gray;
    cursor: pointer;
}